// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// $primary: red;
$carousel-control-color: black;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

/* * {
    scrollbar-color: black grey;
    scrollbar-width: 10px;
} */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey; 
}

::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.titulo {
    color: rgb(51, 255, 255);
    font-family: "Alegreya SC", serif;
    font-size: 3.5rem;
    font-weight: 400;
}

.nav-link:hover {
    font-weight: 700;
}

/* .primeira {
    height: 40vh;
    width: 100vw;
    img {
        height: 500px;
        width: 500px;
        object-fit: scale-down;
    }
}

@media screen and (max-width: 576px) {
    .primeira > img {
        height: 639px;
        width: 639px;
    }
} */

.banner {
    background-image: url(./assets/linhas-brancas.png);
    background-position-x: center;
    background-position-y: 50%;
    background-size: 140% 180%;
    width: 100%;
    img {
        height: 40vh;
        width: 40vh;
        object-fit: scale-down;
    }
}

.icons {
    width: 40px;
    height: 40px;
    // Mantenho o hover? Ícone pulsando? Mudo cor #e9ecef?
    &:hover {
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-name: iconPulse;
    }
}

@keyframes iconPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

// Quem Sou Eu
// Mudar família/tamanho/cor? Modifico somente a letra inicial?

#myBtn {
    
    background-color: black;
    border: 1px solid rgb(233, 236, 239);
    border-radius: 1000px;
    bottom: 20px;
    color: rgb(51, 255, 255);
    cursor: pointer;
    display: none;
    font-family: "Alegreya SC", serif;
    font-size: 16px;
    opacity: 0.6;
    padding: 8px 20px 10px;
    position: fixed;
    right: 30px;
    text-transform: uppercase;
    transition: all 1s;
    z-index: 99;
}

.animation {
    animation-duration: 2s;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}
  
#myBtn:hover {
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    opacity: 0.8;
    transform: translateY(-5px);
}

#myBtn:active {
    transform: translateY(-3px);
}

#myBtn::after {
    border-radius: 100px;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 100%;
    z-index: -1;
}

#myBtn:hover::after {
    background-color: rgb(0, 238, 255);
    opacity: 0;
    transform: scaleX(1.2) scaleY(1.3);
}

@media screen and (max-width: 768px) {
    .habilidades {
         margin-top: 3rem;
    } 
 }

.habilidades__card {
    width: 25vw;
}

@media screen and (min-width: 768px) {
    .habilidades__card {
        width: 20vw;
    }
}

@media screen and (min-width: 992px) {
    .habilidades__card {
        max-width: 200px;
        width: 15vw;
    }
}


.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    width: 100%;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front > img {
    height: 15vh;
}

.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    width: 100%;
}

.flip-card-back {
    color: white;
    position: absolute;
    top: 5%;
    left: 10%;
    transform: rotateY(180deg);
    width: 80%;
    font-size: 1.1em;
    border-radius: 5px;
    min-height: 20vh;
    & p {
        translate: 0 -30px;
        margin: 0 1rem;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 992px) {
    .flip-card-back {
        left: 10%;
        height: fit-content;
        font-size: 1em;
        min-height: 25vh;
        padding-right: 0;
        & p {
            margin: 0 .2rem;
        }
    }
}

@media screen and (max-width: 476px) {
    .flip-card-back {
        // top: 0;
        font-size: .9em;
        width: 85%;
        translate: 0 -30px;
        // height: 25vh;
        & p {
            translate: 0 -30px;
            line-height: normal;
            // left: 5%;
        }
    }
}

@media screen and (max-width: 405px) {
    .flip-card-back {
        height: 30vh;
        & p {
            translate: 0 -30px;
            left: 5%;
        }
    }
}

@media screen and (max-width: 335px) {
    .flip-card-back {
        font-size: .8em;
        & p {
            left: 0;
            width: 100%;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}

.projetos__carrossel {
    background: rgb(233, 236, 239);
    border-radius: 20px;
    height: 80vh;
    padding: 4rem 8rem;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 768px) {
   .projetos {
        margin-top: 3.5rem;
   } 
}

.projeto-image {
    left: 50%;
    height: 70vh;
    object-fit: contain;
    transform: translateX(-50%);
    width: 100%;
    // Deixo o object-fit como contain/cover/fill?
    & img {
        height: 70%;
        object-fit: contain;
    }
}

@media screen and (min-width: 1400px) {
    .projeto-image {
        width: 90%;
        
    }
}

@media screen and (max-width: 992px) {
    .projetos__carrossel {
        height: 50vh;
        padding: 3rem 5rem;
    }
    .projeto-image {
        height: 40vh;
        width: 100%;
        & img {
            height: 70%;
            // Deixo o object-fit como contain/cover/fill?
            object-fit: contain;
        }
    }
    .legenda {
        bottom: 1rem;
        height: 10vh;
    }
}


.botao-prev {
    align-self: center;
    height: fit-content;
    justify-content: start;
    margin-left: 2rem;
    padding: 1rem;
    width: fit-content;
}

.botao-next {
    align-self: center;
    height: fit-content;
    justify-content: end;
    margin-right: 2rem;
    padding: 1rem;
    width: fit-content;
}

@media screen and (max-width: 992px) {
    .botao-prev, .botao-next {
        margin: auto 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .botao-prev, .botao-next {
        margin: auto .3rem;
    }
}



.legenda {
    bottom: 2rem;
    color: black;
    & h5 {
        font-size: 2rem;
    }
    & p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .legenda {
        bottom: 2.5rem;
        display: inline;
        height: 13vh;
        & h5 {
            font-size: 1.8rem;
        }
        & p {
            font-size: 1rem;
        }
    }
}

footer {
    margin: 8vh auto 4vh;

    section {
        height: 30vh;
        width: 90vw;
        margin: auto;
        a {
            font-size: 1.8rem;
            text-decoration: none;
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {
    footer > section > div {
        a {
            font-size: 1.5rem;
        }
        .icons {
            height: 30px;
            width: 30px;
        }
    }
}

.contato {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin: 3rem 0;
    align-items: end;
    a:last-child {
        &:hover {
            animation-duration: 1.3s;
            animation-iteration-count: infinite;
            animation-name: textPulse;
        }
    }
}

@keyframes textPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}